
h3{
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
	}

p,li {
	text-align: left;
	font-size: 16px;
	}


h3.name{
	text-align: center; 
	font-weight: normal; 
	text-decoration: none; 
	}

p.address{
	text-align: center;
	}

a{
	font-weight: bold;
	}

*{
	font-family: "Raleway";
	background-color: lightgrey;
}

h5{
	text-align: center;
}



header{
	background-image: url('https://www-s3-live.kent.edu/s3fs-root/s3fs-public/styles/normal_banner/public/administrative-group/landingpage.jpg?itok=bNTzjDGT');
	height:450px;
}

h1{
	color: darkblue;
}
