
h3{
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
	}

p,li {
	text-align: left;
	font-size: 16px;
	}


h3.name{
	text-align: center; 
	font-weight: normal; 
	text-decoration: none; 
	}

p.address{
	text-align: center;
	}

a{
	font-weight: bold;
	}

*{
	font-family: "Times New Roman";
}